<ul id="selector-block-down" class="page">
  <li class="not_click">
    <a href="javascript:ZBook.donothing();">上一页</a></li>
  <li class="middle">
    <select onchange="javascript:changePage(this, 172100)" id="sel-down" name="sel-down-6770">
      <option class="o_p" value="1" selected="">1-100章</option>
      <option class="o_p" value="2">101-200章</option>
      <option class="o_p" value="3">201-300章</option>
      <option class="o_p" value="4">301-400章</option>
      <option class="o_p" value="5">401-500章</option>
      <option class="o_p" value="6">501-600章</option>
      <option class="o_p" value="7">601-700章</option>
      <option class="o_p" value="8">701-800章</option>
      <option class="o_p" value="9">801-900章</option>
      <option class="o_p" value="10">901-1000章</option>
      <option class="o_p" value="11">1001-1100章</option>
      <option class="o_p" value="12">1101-1200章</option>
      <option class="o_p" value="13">1201-1300章</option>
      <option class="o_p" value="14">1301-1400章</option>
      <option class="o_p" value="15">1401-1500章</option>
      <option class="o_p" value="16">1501-1600章</option>
      <option class="o_p" value="17">1601-1700章</option>
      <option class="o_p" value="18">1701-1800章</option>
      <option class="o_p" value="19">1801-1900章</option>
      <option class="o_p" value="20">1901-2000章</option>
      <option class="o_p" value="21">2001-2100章</option>
      <option class="o_p" value="22">2101-2200章</option>
      <option class="o_p" value="23">2201-2300章</option>
      <option class="o_p" value="24">2301-2400章</option>
      <option class="o_p" value="25">2401-2500章</option>
      <option class="o_p" value="26">2501-2600章</option>
      <option class="o_p" value="27">2601-2700章</option>
      <option class="o_p" value="28">2701-2800章</option>
      <option class="o_p" value="29">2801-2900章</option>
      <option class="o_p" value="30">2901-3000章</option>
      <option class="o_p" value="31">3001-3100章</option>
      <option class="o_p" value="32">3101-3200章</option>
      <option class="o_p" value="33">3201-3300章</option>
      <option class="o_p" value="34">3301-3400章</option>
      <option class="o_p" value="35">3401-3500章</option>
      <option class="o_p" value="36">3501-3600章</option>
      <option class="o_p" value="37">3601-3685章</option></select>
    <b>
    </b>
  </li>
  <li>
    <a href="javascript:moreChapters(172100,2,37)">下一页</a></li>
</ul>