.content18 p.main_tit, .content20 p.main_tit, .content22 p.main_tit, .content24 p.main_tit {
  font-size: 16px;
  text-indent: 0;
  overflow: scroll;
}

.content18 p {
  padding: 0 12px 0 18px;
  font-size: 18px;
  line-height: 30px;
  text-indent: 36px;
  margin-top: 12px;
}

.content18{
  margin-top: 48px;
  margin-bottom: 68px;
}