<div id="book-block">
  <div class="boy_box">
    <div class="com-item-list mt_5">
      <div class="horizontal-box">
        <div class="com-item-thumb">
          <img src="http://wfqqreader.3g.qq.com/cover/687/443687/b_443687.jpg" width="84" height="120"></div>
        <div class="com-item-list-details xq_tit">
          <span class="x_t">万古魔君</span>
          <div class="com-item-list-desc">
            <p class="tit_3">
              <em class="start_4"></em>4.63分</p>
            <p class="tit_2">
              <span>作者：</span>
              <a href="javascript:ZBook.authorSearch('燕云十三','999999');">燕云十三</a></p>
            <p class="tit_3">
              <span>类别：</span>
              <a href="javascript:ZBook.goCateList2('b_f=999999',20001);">玄幻</a></p>
            <p class="tit_3">
              <span>字数：</span>
              <em>285 万字</em>
              <em>连载</em></p>
          </div>
        </div>
      </div>
    </div>
    <div class="btn">
      <a href="read.html?bid=443687&amp;cid=1&amp;bid=443687&amp;b_f=280001" class="btn_sx">立即阅读</a>
      <a href="http://ireader.qq.com/bookevent/readerindex.html?ch=10000848" class="btn_qx">下载阅读</a>
      <a id="favbtn" href="javascript:markBook(443687);" class="btn_qx">加入书架</a></div>
  </div>
  <p id="intro-block" class="detail_p">简介：大千世界，武道为尊，万族争霸。试问苍茫大地，谁主沉浮？他，一个弱冠少年，自幼体弱多病，受尽鄙夷，因觉醒了前世记忆，从此逆天改命，成为妖孽一般的存在。这是一大盛世，天才辈出，美人多娇，且看少年杨玄脚踏八荒，傲视寰宇，登上武之绝巅，成为一代魔君！</p>
  <p class="pl_p">
    <span>更新于今天17:37</span>目录
    <em>(1025)</em></p>
  <ul class="ml_list">
    <li>
      <a href="read.html?bid=443687&amp;cid=1025" class="getnew">第1025章 世界石</a></li>
    <li>
      <a href="read.html?bid=443687&amp;cid=1">第1章 怪梦
        <em class="free">免费</em></a>
    </li>
    <li>
      <a href="read.html?bid=443687&amp;cid=2">第2章 脱胎换骨
        <em class="free">免费</em></a>
    </li>
    <li>
      <a href="read.html?bid=443687&amp;cid=3">第3章 争风吃醋
        <em class="free">免费</em></a>
    </li>
  </ul>
  <a href="chapter.html?bid=443687" class="more borTop">更多目录</a>
  <div class="da_pay">
    <p>按章购买0.05元/千字</p>
    <p>
      <a href="javascript:gotoVip();" class="m0 ora">您还不是包月VIP，开通立享折扣优惠</a></p>
  </div>
</div>