.boy_box {
  padding: 0 14px 5px 14px;
  .com-item-thumb img {
    width: 85px;
    height: 115px;
  }
  .btn a:nth-child(2) {
    margin: 0 14px;
  }
}

.com-item-list {
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  position: relative;
  padding-top: 5px;
  > ul > li {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-align: start;
    margin: 0;
    padding: 5px 0 5px 0;
    position: relative;
  }
}

.horizontal-box {
  display: block;
  width: 100%;
}

.com-item-thumb {
  line-height: 1px;
  margin-top: 2px;
  float: left;
  position: relative;
  overflow: hidden;
  a {
    display: block;
  }
  .depict1, .depict2, .depict3 {
    width: 49px;
    height: 19px;
    display: block;
    position: absolute;
    left: 0;
    top: 90px;
    background: url(../images/bookinfo.png) no-repeat;
    -webkit-background-size: 49px 60px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .depict2 {
    background-position: 0 -20px;
  }
  .depict3 {
    background-position: 0 -40px;
  }
}

.com-item-list-details {
  padding: 0 0 0 94px;
  position: relative;
  display: block;
  span {
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .readnum {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    color: #999;
    i {
      color: #bf2048;
      font-style: normal;
    }
  }
}

.com-item-list-details p {
  color: #999;
  vertical-align: middle;
  line-height: 19px;
  font-size: 14px;
  &.tit_3 {
    display: -webkit-box;
    margin-top: 5px;
    em {
      margin-right: 10px;
    }
  }
  &.tit_2 {
    margin-top: 8px;
    display: -webkit-box;
    span {
      width: 45px;
    }
  }
  &.tit_3 span {
    width: 45px;
  }
  &.tit_2 a, &.tit_3 a {
    -webkit-box-flex: 1;
    display: block;
    color: #297acc;
  }
  &.tit_4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
}



.com-item-list-details .com-item-list-desc .tit_3 a {
  -webkit-box-flex: 0;
}

.com-item-list-desc a {
  display: inline-block;
}

.btn_sx {
  background: #4595e6;
  color: #fff;
  border: 1px solid #2c92dd;
}

.btn .act {
  border: 1px solid #ccc;
  color: #999;
}

.btn {
  padding-top: 15px;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  a {
    height: 38px;
    line-height: 38px;
    -webkit-box-flex: 1;
    text-align: center;
    -webkit-border-radius: 2px;
    display: block;
    width: 0;
  }
}

.btn_qx {
  border: 1px solid #4595e6;
  color: #297acc;
  height: 38px;
  line-height: 38px;
}

.detail_p {
  font-size: 14px;
  color: #999;
  line-height: 24px;
  overflow: hidden;
  padding: 5px 14px 25px 14px;
  word-break: break-all;
  word-wrap: break-word;
  em {
    color: #333;
  }
  a {
    margin-left: 5px;
    color: #297acc;
  }
}

.pl_p {
  font-size: 20px;
  line-height: 20px;
  padding: 12px 14px 0 14px;
  border-top: 2px solid #297acc;
  &.pl_p_0 {
    border: 0;
  }
  em {
    margin-left: 5px;
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    bottom: 2px;
  }
  span {
    float: right;
    display: block;
    font-size: 14px;
    color: #999;
  }
  a {
    float: right;
    padding-right: 12px;
    color: #297acc;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    -webkit-background-size: 17px 14px;
    position: relative;
    bottom: 2px;
  }
}