<div id="config" class="tab_1">
  <p>字体大小</p>
  <div class="size">
    <a id="font18" href="javascript:Read.changeFontSize(18);" class="size_18 act">
      <b>
      </b>字</a>
    <a id="font20" href="javascript:Read.changeFontSize(20);" class="size_20">
      <b>
      </b>字</a>
    <a id="font22" href="javascript:Read.changeFontSize(22);" class="size_22">
      <b>
      </b>字</a>
    <a id="font24" href="javascript:Read.changeFontSize(24);" class="size_24">
      <b>
      </b>字</a>
  </div>
  <p>背景设置</p>
  <div class="style">
    <a id="backStyle1" href="javascript:Read.changeBackStyle(1);" class="style_1 act">
      <b>
      </b>白天</a>
    <a id="backStyle2" href="javascript:Read.changeBackStyle(2);" class="style_2">
      <b>
      </b>夜间</a>
    <a id="backStyle3" href="javascript:Read.changeBackStyle(3);" class="style_3">
      <b>
      </b>怀旧</a>
    <a id="backStyle4" href="javascript:Read.changeBackStyle(4);" class="style_4">
      <b>
      </b>护眼</a>
    <a id="backStyle5" href="javascript:Read.changeBackStyle(5);" class="style_5">
      <b>
      </b>青春</a>
  </div>
</div>