body, div, p, ul, textarea, form, input, h1, h2, h3, h4, h5, dl, dt, dd, img, em, section, article, aside, header, footer, nav, dialog, figure, hgroup {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

em {
  font-style: normal;
}

body {
  font-family: "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
  -webkit-text-size-adjust: none;
  color: #333;
  background-color: #fff;
}

ul, ol, li {
  list-style: none;
}

.clearfix {
  clear: both;
  overflow: hidden;
}

img {
  border: 0 none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #333;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
}

.active {
  background-color: #e5e5e5 !important;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

input {
  -webkit-appearance: none;
}

.last_read {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  font-size: 14px;
  position: relative;
  span {
    color: #e5e5e5;
    position: absolute;
    right: 15px;
    a {
      margin-left: 13px;
      padding-right: 13px;
    }
    .getnew {
      position: absolute;
      width: 8px;
      height: 8px;
      display: block;
      -webkit-border-radius: 4px;
      background: #bf3048;
      margin-left: 43px;
      margin-top: -25px;
    }
  }
  em {
    background: #bf3048;
    color: #fff;
    height: 14px;
    line-height: 16px;
    font-size: 10px;
    display: inline-block;
    text-align: center;
    -webkit-border-radius: 1px;
    padding: 0 5px;
    margin-right: 5px;
  }
  a {
    color: #297acc;
    &.l_a {
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 78%;
    }
  }
}


.head {
  background: #fff;
}

.header {
  height: 51px;
  position: relative;
}

.logo {
  background: url(../img/logo.png) no-repeat;
  display: block;
  width: 90px;
  height: 37px;
  -webkit-background-size: 90px 37px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.user {
  position: absolute;
  top: 10px;
  right: 10px;
}

.user_bg, .ser_bg {
  background: url(../img/iconbg.png) no-repeat;
  -webkit-background-size: 30px 150px;
  display: inline-block;
  width: 30px;
  height: 32px;
}

.user_bg {
  background-position: 0 5px;
  margin-right: 15px;
}

.user_bg_2 {
  float: left;
  margin: 0 12px 0 0;
  width: 30px;
  height: 30px;
  padding: 5px 0 0 5px;
  img {
    width: 26px;
    height: 26px;
    -webkit-background-size: 26px 26px;
    -webkit-border-radius: 13px;
  }
}

.ser_bg {
  background-position: 0 -29px;
}

.tab {
  background: #4595e6;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    height: 35px;
    line-height: 35px;
    width: 20%;
    a {
      color: #bdd8f3;
      display: block;
      height: 35px;
      line-height: 35px;
      font-size: 16px;
    }
    &.act {
      a {
        color: #fff;
      }
      span {
        border-bottom: 2px solid #fff;
        padding: 0 3px;
        padding-bottom: 2px;
      }
    }
  }
}

.link {
  background: #fff;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 13px;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    height: 20px;
    line-height: 20px;
    width: 20%;
    a {
      display: block;
    }
    &.act a {
      color: #297acc;
    }
  }
}

.link2 {
  padding-top: 13px;
  margin-bottom: 10px;
}

.hot_li {
  height: 23px;
  line-height: 23px;
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 20px;
  color: #bf3048;
  &::before {
    content: "最热文";
    -webkit-border-radius: 1px;
    color: white;
    display: inline-block;
    font-size: 10px;
    height: 18px;
    line-height: 20px;
    width: 38px;
    margin-right: 9px;
    text-align: center;
    vertical-align: 3px;
    background-color: #bf3048;
    white-space: nowrap;
  }
}

.hot {
  background: #fff;
  padding: 15px 15px 5px 15px;
}

.boy {
  background: #8db9ed;
  height: 102px;
  margin-top: 20px;
  position: relative;
}

.boy_main {
  border-right: 2px solid #fff;
  display: block;
  width: 81px;
  height: 102px;
  position: absolute;
  span {
    background-position: 17px -87px;
    width: 82px;
    height: 100px;
    display: block;
  }
}

.boy img {
  position: absolute;
  right: 0;
}

.img_a {
  display: block;
  width: 226px;
  height: 102px;
  position: absolute;
  right: 0;
}

.com-item-list {
  -webkit-box-sizing: border-box;
  display: -webkit-box;
  position: relative;
  padding-top: 5px;
  > ul > li {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-align: start;
    margin: 0;
    padding: 5px 0 5px 0;
    position: relative;
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.com-act > ul > li {
  background: #eae8df;
}

.com-item-thumb {
  line-height: 1px;
  margin-top: 2px;
  float: left;
  position: relative;
  a {
    display: block;
  }
}

.horizontal-box {
  display: block;
  width: 100%;
}

.com-item-list-details {
  padding: 0 0 0 94px;
  position: relative;
  display: block;
  span {
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.com-item-list-pt span {
  padding-top: 10px;
}

.com-item-list-details p {
  color: #999;
  vertical-align: middle;
  line-height: 20px;
  font-size: 14px;
  &.tit_2 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    line-height: 21px;
    margin-top: 5px;
  }
  &.tit_1 {
    color: #999;
    margin-top: 10px;
    span {
      display: inline;
      margin-right: 10px;
    }
  }
}

.da_a {
  height: 35px;
  line-height: 35px;
  background: #f2f2f2;
  display: block;
  position: relative;
  padding: 0 14px 0 14px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  &:after {
    content: ' ';
    position: absolute;
    top: 15px;
    right: 17px;
    width: 7px;
    height: 7px;
    border: #297acc solid;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
  }
  &::before {
    content: "猜你喜欢";
    -webkit-border-radius: 1px;
    color: white;
    display: inline-block;
    font-size: 10px;
    height: 18px;
    line-height: 20px;
    width: 46px;
    margin-right: 6px;
    text-align: center;
    vertical-align: 1px;
    background-color: #bf3048;
    white-space: nowrap;
  }
  a {
    display: block;
  }
  span {
    background: #bf3048;
    color: #fff;
    font-size: 9px;
    padding: 0 3px;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    display: inline-block;
  }
}

.da_a_2 {
  background: #f2f2f2;
  height: 35px;
  line-height: 35px;
  display: block;
  padding-left: 15px;
  position: relative;
  color: #12b37d;
  display: block;
  &:after {
    content: ' ';
    position: absolute;
    top: 15px;
    right: 15px;
    width: 7px;
    height: 7px;
    border: #12b37d solid;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
  }
}

.boy_box {
  padding: 0 14px 5px 14px;
  clear: both;
}

.list_ul {
  padding: 5px 0 10px 0;
  li {
    line-height: 24px;
    margin-top: 10px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      float: left;
      a {
        color: #297acc;
      }
    }
    em {
      color: #ccc;
      padding: 0 8px 0 4px;
      float: left;
    }
    b {
      font-weight: normal;
      color: #999;
      margin-right: 10px;
      font-size: 12px;
    }
    p {
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      &.nr_p {
        font-size: 14px;
        color: #999;
      }
    }
    b.z_name {
      font-size: 10px;
      margin: 0 0 0 10px;
    }
  }
}

.list_a li {
  position: relative;
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.list_ul_top a {
  display: block;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hot_a {
  float: left;
  width: 80%;
}


.mt0 li {
  margin-top: 0;
}

.foot {
  background: #fff;
  margin-top: 12px;
  height: 36px;
  line-height: 36px;
  padding: 0 14px;
  overflow: hidden;
  a {
    color: #297acc;
  }
  span {
    float: right;
    a {
      background: url(../img/iconbg.png) no-repeat right -63px;
      -webkit-background-size: 25px 150px;
      padding-right: 20px;
    }
  }
}

.footer {
  padding: 14px 0;
  color: #fff;
  background: #4595e6;
  p {
    text-align: center;
    line-height: 40px;
  }
  a {
    color: #fff;
    height: 23px;
    line-height: 23px;
    font-size: 16px;
    margin: 0 10px;
    &.act {
      display: inline-block;
      padding: 0 5px;
      background: #2c84c8;
    }
  }
  span {
    margin: 0 10px;
    padding: 0 5px;
    color: #ccc;
  }
}

.da_img {
  img {
    display: block;
    width: 100%;
    margin: auto;
  }
  position: relative;
  display: block;
  overflow: hidden;
}

.page_d {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 23px;
  line-height: 23px;
  background: rgba(0, 0, 0, 0.5);
  b {
    color: #fff;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    display: block;
  }
  em {
    position: absolute;
    right: 15px;
    color: #fff;
  }
}

.p_20 {
  padding-bottom: 20px;
}

.sear_2 {
  margin: 0 14px 15px 14px;
  background: #fff;
  -webkit-border-radius: 2px;
}

.search_2 {
  position: relative;
  height: 40px;
  -webkit-border-radius: 3px;
  a {
    width: 35px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    b {
      background: url(../img/iconbg.png) no-repeat 0 -28px;
      -webkit-background-size: 30px 150px;
      display: block;
      width: 30px;
      height: 32px;
      padding: 5px 0 0 0;
    }
  }
}

.free_list {
  padding: 5px 0 10px 0;
  li {
    height: 34px;
    line-height: 34px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      display: block;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.org {
  color: #fa944c;
}

.qkbox .entry .nick {
  font-size: 13px;
}

.da_a_3 {
  color: #297acc;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  &::before {
    content: "最热文";
    -webkit-border-radius: 1px;
    color: white;
    display: inline-block;
    font-size: 10px;
    height: 14px;
    line-height: 16px;
    width: 38px;
    margin-right: 6px;
    text-align: center;
    vertical-align: 1px;
    background-color: #bf3048;
    white-space: nowrap;
  }
}

.m_20 {
  margin-top: 25px;
}

.com-item-list-details span b {
  float: right;
  color: #999;
  font-weight: normal;
  em {
    color: #333;
  }
}

.line {
  background: url(../img/line_bg.png) repeat-x;
  height: 1px;
  -webkit-background-size: auto 1px;
  display: block;
  margin: 0 0 15px 0;
}

.boy_box_2 {
  margin-bottom: 20px;
}

.cs_logo {
  background: url(../img/pd_logo.png) no-repeat 0 -22px;
  -webkit-background-size: 60px 50px;
  display: inline-block;
  width: 60px;
  height: 17px;
  position: absolute;
  left: 103px;
  top: 10px;
}

.pd_10 {
  padding: 10px 14px;
}

.list_ul_fl {
  margin-top: -10px;
}

.mb_20 {
  margin-bottom: 20px;
}

.pb_15 {
  padding-bottom: 15px;
}

.tit-3 {
  border-top: 0;
  margin-top: 7px;
}

.list_ul li b {
  &.num_r {
    float: left;
    width: 22px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    background: #bf3048;
    color: #fff;
    margin-top: 6px;
    margin-right: 7px;
  }
  &.num_h {
    float: left;
    width: 22px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    background: #ccc;
    color: #fff;
    margin-top: 6px;
    margin-right: 7px;
  }
}

.mum_1 {
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 14px;
  padding-top: 2px;
  text-align: center;
  line-height: 14px;
  background: #bf3048;
  color: #fff;
  display: block;
  font-weight: normal;
}

.list_ul li p.nr_p_2 {
  font-size: 14px;
  color: #999;
  padding-left: 30px;
}

.yq_logo {
  background: url(../img/pd_logo.png) no-repeat 0 0;
  -webkit-background-size: 60px 50px;
  display: inline-block;
  width: 60px;
  height: 17px;
  position: absolute;
  left: 103px;
  top: 13px;
}


.mb_5 {
  margin-bottom: 5px;
}

.icando {
  display: -webkit-box;
  padding: 15px 14px;
  border-bottom: 2px solid #4595e6;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    h5 {
      font-size: 14px;
      line-height: 14px;
      font-weight: normal;
    }
  }
}

.icanList li {
  padding: 12px 10px;
  line-height: 16px;
  height: 16px;
  font-size: 16px;
  color: #333;
  text-align: center;
  span {
    font-size: 14px;
    color: #999;
    line-height: 16px;
    width: 110px;
    display: inline-block;
  }
}

.ican1, .ican2, .ican3, .ican4 {
  width: 48px;
  height: 48px;
  background: url(../img/tq.png) no-repeat;
  -webkit-background-size: 48px 192px;
  display: inline-block;
}

.ican1 {
  background-position: 0 0;
}

.ican2 {
  background-position: 0 -48px;
}

.ican3 {
  background-position: 0 -96px;
}

.ican4 {
  background-position: 0 -144px;
}

.tq_info {
  font-size: 16px;
  line-height: 34px;
  padding: 5px 14px 0 14px;
  overflow: hidden;
  position: relative;
  &.tq_sale {
    padding: 13px 15px 0 15px;
  }
  span {
    float: left;
    color: #bf3048;
  }
}

.kt_btn {
  margin: 0 14px;
  height: 34px;
  line-height: 34px;
  color: #f70;
  text-align: center;
  display: block;
  font-size: 14px;
  -webkit-border-radius: 2px;
  border: 1px solid #ccc;
}

.bor_b {
  border-bottom: 2px solid #4595e6;
  padding-bottom: 8px;
}

.vip_user {
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 0 14px;
  .userpic {
    width: 50px;
    height: 50px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  .tq_info {
    -webkit-box-flex: 1;
    padding-left: 12px;
  }
  .vip_a_2 {
    right: 0;
    top: 50%;
    height: 22px;
    margin-top: -32px;
    background: 0;
    em {
      border: 1px solid #fa944c;
      border-radius: 3px;
      font-size: 12px;
      display: inline-block;
      width: 40px;
      text-align: center;
      height: 20px;
      line-height: 20px;
    }
  }
}

.free_detail {
  margin: 0 14px;
  text-align: center;
  border-top: 1px solid #f2f2f2;
  a {
    display: block;
    padding: 14px 0;
    em {
      display: inline-block;
      background-color: #e5f2ff;
      color: #4595e6;
      border-radius: 10px;
      font-size: 12px;
      padding: 2px 10px;
      line-height: 16px;
    }
  }
  .horn {
    display: inline-block;
    height: 16px;
    vertical-align: top;
    width: 13px;
    background: url(../img/horn.png) no-repeat 0 center;
    background-size: 13px 13px;
    margin-right: 8px;
  }
}

.head_2 {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  span {
    font-size: 20px;
    line-height: 50px;
    display: block;
    text-align: center;
    padding: 0 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.return, .home {
  position: absolute;
  display: block;
  background: url(../img/iconbg.png) no-repeat 0 -81px;
  -webkit-background-size: 30px 150px;
  top: 3px;
  width: 30px;
  height: 44px;
  padding: 0 5px 0 8px;
  overflow: hidden;
}

.return {
  left: 7px;
}

.home {
  background-position: 6px -116px;
  right: 0;
  padding: 0 12px 0 7px;
}

.ul_list {
  padding: 5px 0;
  color: #999;
  position: relative;
  li em {
    color: #333;
    float: left;
    width: 35px;
    text-align: right;
  }
  p {
    position: relative;
    display: block;
    padding: 0 0 0 35px;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  li {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 14px 10px 10px;
    position: relative;
    p span {
      display: block;
      font-size: 14px;
      line-height: 22px;
      display: -webkit-box;
      overflow: hidden;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
  p span.p_tit {
    margin-top: 0;
    font-size: 16px;
    color: #333;
    padding-left: 0;
    margin-bottom: 5px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.page {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  margin: 15px 14px 25px 14px;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    background: #4595e6;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    width: 30%;
    -webkit-border-radius: 2px;
    a {
      color: #fff;
      display: block;
      text-align: center;
    }
    &.not_click {
      background: #ccc;
    }
    &.middle {
      border: 1px solid #4595e6;
      background: 0;
      margin: 0 5px;
      height: 38px;
      position: relative;
      min-width: 130px;
      width: 40%;
    }
  }
}

.middle select {
  position: relative;
  border: 0;
  color: #297acc;
  -webkit-appearance: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: block;
  padding: 0 20px 0 10px;
  background: #fff;
  text-align: left;
}

.page li.middle b {
  width: 8px;
  height: 8px;
  border: #297acc solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(135deg);
  display: block;
  position: absolute;
  right: 10px;
  top: 14px;
}

.tab_2 {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  background: #4595e6;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    height: 56px;
    line-height: 56px;
    width: 20%;
    a {
      color: #fff;
      display: block;
      height: 56px;
      line-height: 56px;
    }
  }
}

.class_list h2 {
  height: 47px;
  line-height: 47px;
  padding: 0 14px;
  font-size: 20px;
}

.fl_list {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 25px;
  ul {
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-box-align: start;
    li {
      -webkit-box-flex: 1;
      border-right: 1px solid #e5e5e5;
      list-style: none;
      &:last-child {
        border-right: 0;
      }
      a {
        height: 44px;
        line-height: 44px;
        text-align: center;
        margin: 0 auto;
        display: block;
        span {
          display: block;
          width: 70px;
          margin: 0 auto;
        }
      }
    }
  }
}

.hot_link a {
  color: #297acc;
}

.list-book {
  padding: 12px 14px 14px 14px;
  border-bottom: 1px solid #e5e5e5;
  .com-item-list-details {
    p {
      margin-top: 0;
      &.tit_1 {
        margin-top: 10px;
        white-space: nowrap;
        word-wrap: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
      &.tit_2 b {
        font-weight: normal;
        margin-right: 15px;
      }
    }
    padding: 0 0 0 60px;
  }
}

.com-item-list-desc em {
  float: right;
  margin: 0;
  font-size: 14px;
}

.filter_sort {
  border-bottom: 1px solid #e5e5e5;
  padding: 0 14px;
  margin-bottom: 5px;
  &.sort_select {
    padding: 0;
  }
  span {
    color: #999;
  }
}

.result {
  height: 40px;
  line-height: 40px;
  position: relative;
  padding: 0 14px;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  &:after {
    content: ' ';
    position: absolute;
    top: 12px;
    right: 20px;
    width: 9px;
    height: 9px;
    border: #297acc solid;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(135deg);
  }
}

.filter_sort {
  dl {
    overflow: hidden;
  }
  dt {
    float: left;
    color: #999;
    line-height: 28px;
  }
  dd {
    float: left;
    width: 240px;
    a {
      padding: 0 8px;
      line-height: 28px;
      float: left;
      &.act {
        color: #297acc;
      }
    }
  }
}

.sort_list {
  padding: 5px 14px 15px 14px;
}

.btn {
  padding-top: 15px;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  a {
    -webkit-box-flex: 1;
    text-align: center;
    display: block;
    -webkit-border-radius: 2px;
  }
}

.btn_sx {
  height: 40px;
  line-height: 40px;
  background: #4595e6;
  color: #fff;
  margin-right: 10px;
  width: 60%;
}

.btn_qx {
  border: 1px solid #4595e6;
  color: #297acc;
  height: 38px;
  line-height: 38px;
  width: 40%;
}

.tab_ul {
  margin: 15px 0 5px 0;
  border: 1px solid #4595e6;
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  -webkit-border-radius: 2px;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    a {
      display: block;
    }
    &.act a {
      background: #4595e6;
      color: #fff;
    }
  }
}

.more, .kt_ora {
  display: block;
  position: relative;
  color: #297acc;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
  margin-top: 5px;
}

.more.helpmore {
  font-size: 16px;
}

.kt_ora {
  color: #fa944c;
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.more:after {
  content: ' ';
  position: absolute;
  top: 9px;
  width: 8px;
  height: 8px;
  border: #297acc solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
}

.kt_ora:after {
  content: ' ';
  position: absolute;
  top: 9px;
  width: 8px;
  height: 8px;
  border: #297acc solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(45deg);
  border: #fa944c solid;
  border-width: 1px 1px 0 0;
  top: 24px;
}

.rank_ul_1 {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  margin: 0 14px;
  margin-top: 10px;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 50%;
    background: #e5e5e5;
    -webkit-border-radius: 2px;
    a {
      display: block;
    }
  }
}

.mr_5 {
  margin-right: 5px;
}

.rank_ul_2 {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  margin: 0 15px;
  margin-top: 5px;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 33.33%;
    background: #e5e5e5;
    a {
      display: block;
    }
  }
}

.rank_ul_3 {
  margin-bottom: 30px;
}

.no_top {
  border-top: 0;
  margin-top: 5px;
}

.tab_3 {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  text-align: center;
  height: 40px;
  line-height: 40px;
  li {
    -webkit-box-flex: 1;
    text-align: center;
    span {
      color: #333;
      padding: 0 10px;
    }
    &.act span {
      border-bottom: 2px solid #4595e6;
      padding-bottom: 10px;
    }
    a {
      display: block;
    }
  }
}

.rank-book {
  .com-item-list-details {
    padding: 0 0 0 60px;
  }
  .num_1 {
    width: 22px;
    height: 14px;
    line-height: 14px;
    padding-top: 2px;
    -webkit-border-radius: 1px;
  }
  .com-item-list-details p.tit_2 {
    -webkit-line-clamp: 2;
    margin-top: 10px;
  }
}

.list_ul_2 {
  padding-bottom: 0;
}

.free_list li b {
  &.num_r {
    float: left;
    width: 22px;
    height: 14px;
    padding-top: 2px;
    text-align: center;
    line-height: 14px;
    background: #bf3048;
    color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    font-weight: normal;
    font-size: 13px;
    -webkit-border-radius: 1px;
  }
  &.num_h {
    float: left;
    width: 22px;
    height: 14px;
    padding-top: 2px;
    text-align: center;
    line-height: 14px;
    background: #ccc;
    color: #fff;
    margin-top: 10px;
    margin-right: 7px;
    font-weight: normal;
    font-size: 13px;
    -webkit-border-radius: 1px;
  }
}

.user_box {
  padding-bottom: 5px;
}

.user_dl {
  margin: 10px 15px 13px 15px;
  overflow: hidden;
  position: relative;
  b {
    float: left;
    margin-top: 2px;
    img {
      -webkit-background-size: 60px 60px;
      -webkit-border-radius: 30px;
      width: 60px;
      height: 60px;
      display: block;
    }
  }
  div {
    padding: 0 0 0 75px;
    position: relative;
    display: block;
    span {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      color: #999;
      font-size: 14px;
      margin-top: 5px;
    }
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
  }
}

.com-item-thumb b {
  position: absolute;
  display: block;
  width: 22px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  top: 0;
  left: 0;
  font-weight: normal;
  color: #fff;
  font-size: 13px;
  -webkit-border-radius: 1px;
  padding-top: 2px;
}

.num_1 {
  background: #bf3048;
}

.num_2 {
  background: #ccc;
}

.sear {
  margin: 15px 14px 0 14px;
  background: #fff;
}

.search {
  position: relative;
  height: 35px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  a {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    b {
      background: url(../img/iconbg.png) no-repeat 0 -28px;
      -webkit-background-size: 30px 150px;
      display: block;
      width: 30px;
      height: 32px;
    }
  }
}

.text_1 {
  width: 78%;
  color: #999;
  border: 0;
  padding: 8px 10px 6px 10px;
  -webkit-border-radius: 2px;
}

.tit-1 {
  color: #999;
  line-height: 20px;
  margin-top: 15px;
}

.link_a {
  padding: 5px 0 10px 0;
  a {
    margin-right: 13px;
    height: 30px;
    line-height: 30px;
  }
}

.face {
  background: url(../img/facebg.png) no-repeat;
  width: 35px;
  height: 35px;
  -webkit-background-size: 35px 35px;
  display: block;
  margin: 15px auto 0 auto;
}

.ser_none p {
  text-align: center;
  color: #999;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0 30px 0;
}

.comment_2 {
  position: relative;
  li {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #fff;
    background: 0;
    margin-top: 0;
    padding: 5px 14px 10px 14px;
    position: relative;
  }
  p {
    b {
      font-weight: normal;
      color: #297acc;
    }
    em {
      margin-right: 10px;
    }
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    color: #999;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  li a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
  }
  .title {
    color: #333;
  }
}

.list-book-4 .com-item-list-details p.tit_2 {
  -webkit-line-clamp: 1;
}

.list_dl {
  position: relative;
  b {
    position: relative;
    line-height: 1;
    img {
      width: 100%;
    }
  }
  div {
    padding: 5px 14px 20px 14px;
    span {
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
    p {
      color: #999;
      font-size: 14px;
      margin-top: 5px;
      line-height: 22px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
  }
  a {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  div span em {
    float: right;
    color: #297acc;
    position: relative;
    right: 15px;
    margin-left: 15px;
    font-size: 14px;
    &:after {
      content: ' ';
      position: absolute;
      top: 6px;
      width: 8px;
      height: 8px;
      border: #297acc solid;
      border-width: 1px 1px 0 0;
      -webkit-transform: rotate(45deg);
    }
  }
}

.sd_list .com-item-list-details p {
  -webkit-line-clamp: 2;
  margin-top: 10px;
}

.last_list {
  border-bottom: 0;
}

.sd_box {
  padding-bottom: 15px;
  margin-top: -5px;
}

.list_dl_2 {
  position: relative;
  img {
    width: 100%;
  }
  div {
    padding: 5px 15px 15px 15px;
    p {
      color: #999;
      font-size: 14px;
      margin-top: 5px;
      line-height: 22px;
    }
  }
}

.horizontal-box-2 {
  width: 80%;
}

.list-book-2 {
  a {
    width: 80%;
    &.left_a {
      position: absolute;
      left: 0;
      top: 0;
      width: 80%;
      height: 100%;
    }
  }
  position: relative;
  overflow: hidden;
  .shelf_admin {
    position: absolute;
    text-align: right;
    top: 60px;
    right: 9px;
    color: #297acc;
    font-size: 14px;
    background: #fff;
    a {
      color: #4595e6;
      display: inline-block;
      width: auto;
      padding: 5px;
    }
    .delete {
      margin-left: 15px;
    }
  }
  .com-item-list-details p.tit_2 {
    -webkit-line-clamp: 1;
  }
}

.edit {
  margin: 0 14px;
  color: #999;
  padding: 8px 0 5px 0;
  line-height: 25px;
  a {
    float: right;
    border: 1px solid #4595e6;
    width: 60px;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #297acc;
    -webkit-border-radius: 2px;
    &.act {
      background: #4595e6;
      color: #fff;
    }
  }
}

.btn_box {
  display: -webkit-box;
  -webkit-box-sizing: border-box;
  a {
    height: 40px;
    line-height: 40px;
    background: #4595e6;
    color: #fff;
    -webkit-box-flex: 1;
    display: block;
    text-align: center;
    width: 50%;
  }
}

.a_1 {
  margin-right: 5px;
}

.ts_p {
  text-align: center;
  color: #999;
  margin: 8px 0 15px 0;
  font-size: 14px;
}

.filter_sort {
  h3 {
    padding: 5px 0;
  }
  .use_dl {
    padding: 10px 0 15px 0;
    dt {
      float: left;
      margin-top: 23px;
      img {
        -webkit-background-size: 60px 60px;
        -webkit-border-radius: 30px;
        width: 60px;
        height: 60px;
        display: block;
      }
    }
    dd {
      float: none;
      padding: 0 0 0 75px;
      position: relative;
      display: block;
      line-height: 24px;
      p {
        font-size: 14px;
      }
    }
  }
}

.use_dl dd p em {
  color: #999;
}

.more_2 {
  margin-top: 10px;
}

.noreadbox .nolist {
  text-align: center;
  line-height: 26px;
  padding: 15px 0;
  color: #9b9b9b;
}

.more_3 {
  display: block;
  position: relative;
  color: #297acc;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 15px;
  font-size: 14px;
}

.shelf_normal {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 14px;
  color: #999;
  text-align: right;
  display: block;
  padding-top: 42px;
}

.shelf_1 {
  margin-bottom: 12px;
  display: block;
}

.get-new {
  width: 28px;
  height: 13px;
  padding-top: 2px;
  display: inline-block;
  line-height: 13px;
  font-size: 10px;
  color: #fff;
  background: #bf3048;
  text-align: center;
  -webkit-border-radius: 2px;
}

.ydbg {
  background: url(../img/ydbg.png) no-repeat;
  width: 50px;
  height: 22px;
  -webkit-background-size: 50px 22px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: -3px;
}

.detail_p {
  font-size: 14px;
  color: #999;
  line-height: 24px;
  overflow: hidden;
  padding: 5px 15px 25px 15px;
  em {
    color: #333;
  }
  a {
    margin-left: 5px;
    color: #297acc;
  }
}

.list_p {
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  a {
    color: #339ab8;
  }
}

.ml_list {
  padding: 10px 15px 0 15px;
  li {
    line-height: 30px;
    a {
      color: #297acc;
      display: block;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.comment {
  padding: 5px 14px 10px 14px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  p {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    padding-left: 17px;
    a {
      margin-left: 5px;
      color: #297acc;
    }
  }
}

.title {
  font-size: 16px;
  color: #999;
  margin: 5px 0;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.comment .title {
  padding-left: 0;
}

.title {
  b {
    font-weight: normal;
    color: #297acc;
  }
  span {
    float: right;
    color: #999;
  }
}

.comment .title .qname {
  color: #4595e6;
  padding-left: 17px;
  background: url(../img/commt-head.png) 0 2px no-repeat;
  background-size: 12px auto;
}

.price {
  background: #f2f2f2;
  padding: 10px 0;
  p {
    font-size: 14px;
    color: #999;
    text-align: center;
    line-height: 24px;
    span {
      width: 110px;
      text-align: right;
      display: inline-block;
    }
    a {
      font-weight: bold;
      margin-left: 5px;
      color: #339ab8;
      &.ktvip {
        color: #297acc;
        margin-left: 15px;
        font-weight: normal;
      }
    }
  }
}

.pl_p {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 15px 0 15px;
  border-top: 2px solid #4595e6;
  em {
    margin-left: 5px;
    color: #999;
    font-size: 14px;
    font-weight: normal;
  }
  span {
    float: right;
    color: #999;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
  }
}

.more2 {
  margin-bottom: 8px;
}

.ml20 {
  margin-left: 20px;
}

.start_1, .start_2, .start_3, .start_4, .start_5 {
  background: url(../img/icon_5.png) no-repeat;
  -webkit-background-size: 85px 100px;
  display: inline-block;
  width: 85px;
  height: 13px;
  margin-right: 5px;
}

.start_1 {
  background-position: 0 -17px;
}

.start_2 {
  background-position: 0 -35px;
}

.start_3 {
  background-position: 0 -52px;
}

.start_4 {
  background-position: 0 -69px;
}

.start_5 {
  background-position: 0 -87px;
}

.pl_nr {
  padding: 5px 0 20px 0;
}

.more_a {
  display: block;
  text-align: center;
  padding-top: 20px;
  color: #339ab8;
}

.comment ul {
  line-height: 28px;
  li a {
    display: block;
    padding: 3px 0;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
}

.text_2 {
  border: 1px solid #ccc;
  height: 56px;
  padding: 5px;
  margin-top: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
}

.com-item-list-details p.tit_3 {
  color: #999;
  margin-top: 5px;
  span {
    display: inline;
    margin-right: 10px;
  }
}

.btn .act {
  border: 1px solid #ccc;
  color: #999;
}

.no_m {
  margin-top: 20px;
}

.tit-4 {
  font-size: 20px;
  position: relative;
  border-top: 2px solid #4595e6;
  background: #fff;
  padding: 0 15px;
  height: 35px;
  line-height: 35px;
  font-weight: 700;
  a {
    float: right;
    font-size: 14px;
    color: #297acc;
    font-weight: normal;
  }
}

.xq_tit span {
  white-space: inherit;
  margin-bottom: 8px;
}

.x_t {
  line-height: 22px;
}

.free {
  background: #52cca3;
  color: #fff;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  font-size: 10px;
  margin-left: 5px;
  display: inline-block;
  -webkit-border-radius: 1px;
  vertical-align: top;
  margin-top: 4px;
  float: right;
}

.vip {
  background: #f73;
  color: #fff;
  height: 16px;
  line-height: 16px;
  padding: 0 5px;
  font-size: 10px;
  margin-left: 5px;
  display: inline-block;
  -webkit-border-radius: 1px;
  vertical-align: top;
  margin-top: 4px;
}

.pl_nr {
  p {
    padding-top: 5px;
  }
  span {
    color: #fff;
  }
  p {
    em {
      float: right;
    }
    b a {
      background: url(../img/start_bg.png) no-repeat 0 -29px;
      -webkit-background-size: 21px 50px;
      display: inline-block;
      width: 21px;
      height: 21px;
      margin-right: 5px;
      margin-top: 10px;
      &.act {
        background: url(../img/start_bg.png) no-repeat;
        -webkit-background-size: 21px 50px;
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-right: 5px;
      }
    }
  }
  .btn_6 {
    background: #4595e6;
    display: inline-block;
    width: 125px;
    height: 38px;
    line-height: 38px;
    padding-top: 2px;
    text-align: center;
    color: #fff;
  }
}

.comment p {
  &.reward {
    color: #d93651;
  }
  a {
    margin-left: 5px;
    color: #297acc;
  }
}

.igood, .itop {
  width: 13px;
  height: 12px;
  padding-top: 1px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  -webkit-border-radius: 2px;
  background: #f24965;
  color: #fff;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #d93651;
  -webkit-box-shadow: 1px 1px 1px #d93651 inset;
}

.igive {
  width: 13px;
  height: 12px;
  padding-top: 1px;
  font-size: 12px;
  text-align: center;
  line-height: 12px;
  -webkit-border-radius: 2px;
  background: #f24965;
  color: #fff;
  display: inline-block;
  margin-right: 2px;
  border: 1px solid #d93651;
  -webkit-box-shadow: 1px 1px 1px #d93651 inset;
  background: #ff9159;
  border: 1px solid #f73;
  -webkit-box-shadow: 1px 1px 1px #f73 inset;
}

.itop {
  background: #ffbe4c;
  border: 1px solid #f2ae18;
  -webkit-box-shadow: 1px 1px 1px #f2ae18 inset;
}

.filter_sort {
  position: relative;
}

.select.select {
  height: 40px;
  line-height: 40px;
  text-indent: 9px;
  text-align: center;
  border: 0;
  color: #297acc;
  -webkit-appearance: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
  display: block;
  background: #fff;
}

.xl_bg {
  position: absolute;
  top: 12px;
  right: 20px;
  width: 9px;
  height: 9px;
  border: #297acc solid;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(135deg);
}

.list_li li {
  height: 43px;
  line-height: 43px;
  padding: 0 14px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  &.act {
    background: #f6f6f6;
  }
  a {
    display: block;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.freebg {
  background: #52cca3;
  font-size: 10px;
  color: #fff;
  width: 30px;
  height: 16px;
  line-height: 16px;
  float: right;
  text-align: center;
  margin-top: 15px;
}

.end {
  padding: 30px 0;
  p {
    color: #999;
    text-align: center;
    line-height: 26px;
  }
}

.list-book-3 {
  position: relative;
  a {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.pop-box {
  position: absolute;
  top: 20%;
  left: 0;
  border: 2px solid #569fda;
  margin-left: 27px;
  width: 265px;
  background: rgba(201, 231, 243, 0.95);
}

.box-nr {
  margin: 2px;
  border: 1px solid #86c4ef;
  padding-bottom: 20px;
}

.pop-tit {
  color: #fff;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  background: #86c4ef;
  font-size: 17px;
  border-bottom: 1px solid #a5d8f2;
}

.box-nr {
  ul {
    color: #000;
    font-size: 16px;
    padding: 15px 10px 0 10px;
    line-height: 25px;
    border-top: 1px solid #66bce9;
  }
  p {
    text-align: center;
    margin-top: 15px;
  }
}

.btn-6 {
  height: 35px;
  line-height: 35px;
  border: 1px solid #9dd4fc;
  background: -webkit-gradient(linear, left top, left bottom, from(#4eb3e7), to(#328fda));
  display: block;
  text-align: center;
  width: 114px;
  color: #fff;
  margin: 10px auto 0 auto;
}

.closed {
  float: right;
  background: url(../img/closed.png) no-repeat;
  width: 27px;
  height: 27px;
  -webkit-background-size: 27px 27px;
  margin-top: 4px;
}

.check-buy a {
  float: left;
  margin-left: 5px;
  em {
    border: 1px solid #6dbee7;
    background: #b0d9ec;
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-right: 5px;
    &.check {
      background: #b0d9ec url(../img/check.png) no-repeat center 4px;
      -webkit-background-size: 11px 9px;
    }
  }
}

.feedback {
  width: 252px;
  border: 3px solid rgba(86, 159, 216, 0.95);
  position: absolute;
  height: 193px;
  left: 31px;
  top: 150px;
  background: rgba(201, 231, 243, 0.95);
}

.tex-3 {
  width: 225px;
  border: 2px solid rgba(86, 159, 216, 0.95);
  margin: 10px 0 0 6px;
  height: 110px;
  padding: 5px;
  color: #000;
}

.read-btn {
  a {
    margin: 0;
    &.ml-8 {
      margin-left: 8px;
    }
  }
  display: block;
  padding: 0 5px;
  margin: 7px 0 0 0;
  font-size: 17px;
}

.btn-1 {
  height: 35px;
  line-height: 35px;
  border: 1px solid #9dd4fc;
  background: -webkit-gradient(linear, left top, left bottom, from(#4eb3e7), to(#328fda));
  display: block;
  text-align: center;
  float: left;
  width: 114px;
  color: #fff;
}

.btn-2 {
  height: 35px;
  line-height: 35px;
  border: 1px solid #d7d7d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dfe0e2));
  display: block;
  text-align: center;
  float: left;
  width: 114px;
}

.list_ul li b.free_icon {
  background: url(../img/free.png) no-repeat;
  -webkit-background-size: 29px 13px;
  display: inline-block;
  width: 29px;
  height: 13px;
  margin-left: 3px;
  margin-right: 0;
}

.end_p {
  padding: 15px 0 5px 0;
  text-align: center;
}

.browse_nr {
  margin: 0 15px;
}

.yb_ts {
  padding: 15px 15px 20px 15px;
  span {
    background: #c12e48;
    color: #fff;
    font-size: 10px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 6px;
    margin-bottom: 12px;
  }
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

.help_ul {
  padding: 10px 15px 20px 15px;
  li {
    line-height: 30px;
    background: url(../img/libg.png) no-repeat 0 15px;
    padding-left: 13px;
    -webkit-background-size: 3px 3px;
  }
}

.bq {
  margin: 10px 15px 30px 15px;
}

.help_ul li a {
  display: block;
}

.bq p {
  color: #999;
  line-height: 24px;
  font-size: 14px;
}

.boy_box_help {
  border-top: 1px solid #e5e5e5;
  padding-top: 6px;
  dl {
    padding: 10px 14px;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: 0;
    }
    dt {
      font-size: 16px;
    }
    dd {
      font-size: 14px;
      color: #999;
      line-height: 22px;
      margin-left: 27px;
      p {
        font-size: 14px;
      }
    }
  }
  font {
    color: #bf3048;
  }
}

.vip_a {
  color: #297acc;
  display: block;
  padding: 15px 0 15px 40px;
}

.icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6, .icon_7 {
  background: url(../img/icon_dt.png) no-repeat;
  -webkit-background-size: 22px 250px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

.icon_2 {
  background-position: 0 -31px;
}

.icon_3 {
  background-position: 0 -65px;
}

.icon_4 {
  background-position: 0 -103px;
}

.icon_5 {
  background-position: 0 -143px;
}

.icon_6 {
  background-position: 0 -178px;
}

.icon_7 {
  background-position: 0 -210px;
}

.book {
  background: url(../img/book.png) no-repeat;
  -webkit-background-size: 126px 35px;
  display: inline-block;
  width: 126px;
  height: 35px;
  margin: 5px 0 5px 5px;
}

.vip_bg {
  background: url(../img/vipbg.png) no-repeat;
  -webkit-background-size: 125px 35px;
  display: inline-block;
  width: 125px;
  height: 35px;
  margin: 5px 0;
}

.tit-5 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

.vip_a_2 {
  height: 14px;
  line-height: 14px;
  padding: 22px 12px 20px 20px;
  font-size: 14px;
  color: #fa944c;
  display: block;
  background: url(../img/opoint.png) right center no-repeat;
  -webkit-background-size: 8px 14px;
  position: absolute;
  right: 14px;
  top: 6px;
}

.l_dd {
  float: left;
}

.r_dd {
  float: left;
  margin-left: 5px;
}

.boy_box_help_2 {
  padding: 15px;
  dt {
    font-size: 18px;
    font-weight: 600;
    background: url(../img/q_bg.png) no-repeat;
    -webkit-background-size: 21px 21px;
    margin-right: 5px;
    vertical-align: middle;
    padding-left: 28px;
  }
  dd {
    margin-top: 10px;
    background: url(../img/a_bg.png) no-repeat;
    -webkit-background-size: 21px 21px;
    margin-right: 5px;
    vertical-align: middle;
    padding-left: 28px;
    line-height: 26px;
  }
}

.mt_5 {
  margin-top: 10px;
}

.ktmonth {
  padding: 10px 14px 0 14px;
  h5 {
    font-size: 16px;
    font-weight: normal;
    padding-top: 6px;
  }
  p {
    margin-bottom: 10px;
  }
}

.kt_intro {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.v-month {
  width: 21px;
  height: 18px;
  position: absolute;
  margin-left: 10px;
  background: url(../img/qgrade.png) no-repeat 0 -400px;
  -webkit-background-size: 56px 420px;
  display: inline-block;
  margin-top: 8px;
}

.n-month {
  width: 21px;
  height: 18px;
  position: absolute;
  margin-left: 10px;
  background: url(../img/qgrade.png) no-repeat 0 -400px;
  -webkit-background-size: 56px 420px;
  display: inline-block;
  margin-top: 8px;
  background: url(../img/qgrade.png) no-repeat -30px -400px;
  -webkit-background-size: 56px 420px;
}

.da img {
  width: 100%;
  display: block;
}

.p15 {
  padding: 0 15px;
}

.privilege_box {
  padding-top: 0;
  border-top: 0;
  .privilege {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
    a {
      display: block;
      padding: 0 14px;
    }
    em {
      display: block;
      font-size: 16px;
      height: 24px;
      line-height: 24px;
    }
    i {
      display: block;
      font-style: normal;
      font-size: 14px;
      color: #999;
      line-height: 22px;
      margin-left: 45px;
    }
    font {
      color: #bf3048;
    }
    a:after {
      border-top: 1px solid #999;
      border-right: 1px solid #999;
      width: 9px;
      height: 9px;
      -webkit-transform: rotate(45deg);
      content: ' ';
      position: absolute;
      top: 50%;
      right: 14px;
      margin-top: -5px;
    }
    &:nth-child(5) a:after, &:nth-child(7) a:after {
      display: none;
    }
  }
  .icon_1, .icon_2, .icon_3, .icon_4, .icon_5, .icon_6, .icon_7 {
    width: 35px;
    margin-right: 10px;
    background: url(../img/privilege_box_icons.png) no-repeat 0 2px;
    background-size: 35px 445px;
    height: 40px;
    margin-bottom: -16px;
  }
  .icon_2 {
    background-position: 0 -66px;
  }
  .icon_3 {
    background-position: 0 -132px;
  }
  .icon_4 {
    background-position: 0 -200px;
  }
  .icon_5 {
    background-position: 0 -268px;
  }
  .icon_6 {
    background-position: 0 -334px;
  }
  .icon_7 {
    background-position: 0 -401px;
  }
  dl {
    dd {
      margin-left: 45px;
    }
    dt {
      height: 24px;
    }
  }
}

.mask, .shelfmask, .toastmask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.mask_up {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
}

.tip {
  padding: 0 25px;
  height: 100%;
  display: -webkit-box;
  -webkit-box-align: center;
}

.tiparea {
  -webkit-box-align: center;
  width: 100%;
  display: block;
  background: #f2f2f2;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 3px;
  z-index: 99;
  &.tip_bor {
    border: 1px solid #d9d9d9;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  h1 {
    line-height: 40px;
    text-align: center;
    color: #333;
    border-bottom: 1px solid #c4c4c4;
    font-size: 16px;
  }
  p {
    line-height: 23px;
    color: #999;
    margin: 10px 15px;
    font-size: 14px;
    &.p_text {
      color: #333;
      margin: 15px;
    }
    &.p_tc {
      color: #333;
      margin: 15px;
      text-align: center;
    }
  }
}

.btn1 {
  line-height: 37px;
  height: 37px;
  border: 1px solid #2c92dd;
  background: #4595e6;
  display: block;
  margin: 0 15px 15px 15px;
  text-align: center;
  color: #fff;
}

.btn2 {
  line-height: 37px;
  height: 37px;
  border: 1px solid #2c92dd;
  background: #4595e6;
  display: block;
  margin: 0 15px 15px 15px;
  text-align: center;
  color: #fff;
  background: #f2f2f2;
  color: #333;
}

.close {
  width: 24px;
  height: 24px;
  padding: 8px;
  background: url(../img/close.png) no-repeat;
  -webkit-background-size: 24px 24px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-background-origin: content-box;
}

.sug {
  padding: 15px;
}

.sug1 {
  padding: 15px;
  padding-top: 0;
}

.sug textarea {
  line-height: 22px;
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  padding: 10px;
  height: 110px;
}

.sug1 textarea {
  line-height: 22px;
  width: 100%;
  background: #fff;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
  padding: 10px;
  height: 110px;
  height: 60px;
  line-height: 20px;
}

.tip_btn {
  display: -webkit-box;
  border-top: 1px solid #c4c4c4;
  clear: both;
  a {
    -webkit-box-flex: 1;
    display: block;
    margin: 0;
  }
}

.radio_current {
  background: url(../img/radio.png) no-repeat 0 0;
  font-size: 12px;
  -webkit-background-size: 18px 34px;
  line-height: 17px;
  text-indent: 20px;
  display: block;
  color: #999;
  margin: 0 15px 20px 15px;
}

.radio_normal {
  background: url(../img/radio.png) no-repeat 0 0;
  font-size: 12px;
  -webkit-background-size: 18px 34px;
  line-height: 17px;
  text-indent: 20px;
  display: block;
  color: #999;
  margin: 0 15px 20px 15px;
  background-position: 0 -17px;
}

.tip_del {
  text-decoration: line-through;
  color: #999;
  font-size: 14px;
}

.tip_red {
  color: #b33640;
  font-size: 14px;
}

.ktmonth.czjs_bor {
  border-top: 1px solid #e5e5e5;
  margin: 0 15px;
  padding: 10px 0 0 0;
}

.tip1 {
  position: absolute;
  top: 100px;
  width: 100%;
}

.tip2 {
  padding: 0 25px;
}

.tiparea1 {
  -webkit-box-align: center;
  background: #f2f2f2;
  width: 100%;
  -webkit-box-shadow: none;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 3px;
  z-index: 99;
}

.sug2 {
  padding: 15px;
  textarea {
    line-height: 22px;
    width: 100%;
    background: #fff;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 3px;
    -webkit-box-sizing: border-box;
    padding: 10px;
    height: 110px;
    font-size: 16px;
  }
}

.footer .copyright {
  color: rgba(255, 255, 255, 0.77);
  font-size: 12px;
  height: 22px;
  line-height: 22px;
  padding: 0 12px;
  text-align: center;
}

.pad60 {
  padding-top: 60px;
}

.appload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(81, 191, 234, 0.9);
  z-index: 100;
  .closeload {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 60px;
    background: url(../img/qqapp-load.png) 0 -56px no-repeat;
    background-size: 266px auto;
  }
  .loadwrap {
    display: block;
    margin-left: 25px;
    text-align: center;
    i {
      display: inline-block;
      width: 266px;
      height: 55px;
      margin-top: 5px;
      background: url(../img/qqapp-load.png) 0 0 no-repeat;
      background-size: 266px auto;
    }
  }
}

.downarea {
  padding: 0 14px 14px;
  text-align: center;
  .down_icon {
    display: block;
    height: 33px;
    line-height: 33px;
    background: #fa944c;
    border: 1px solid #ef873d;
    border-radius: 2px;
    color: #fff;
  }
  .info {
    color: #808080;
    margin-top: 9px;
    font-size: 14px;
    line-height: 20px;
  }
}

.footer .wordlink {
  line-height: 18px;
  margin: -14px 0 22px;
  a {
    margin: 0 20px;
  }
}

.kt-month {
  margin: 14px 14px 8px;
  position: relative;
  p {
    color: #999;
    font-size: 15px;
    line-height: 27px;
    overflow: hidden;
  }
  .m-privil {
    color: #0079ff;
    font-size: 14px;
    padding-right: 15px;
    float: right;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 7px;
      right: 2px;
      width: 10px;
      height: 10px;
      border: solid #0079ff;
      border-width: 1px 1px 0 0;
      -webkit-transform: rotate(45deg);
    }
  }
  .kt-btn {
    margin-top: 6px;
    display: block;
    height: 32px;
    background: #4595e6;
    line-height: 32px;
    text-align: center;
    border: 1px solid #2c92dd;
    border-radius: 4px;
  }
  .kted-btn {
    margin-top: 6px;
    display: block;
    height: 32px;
    background: #4595e6;
    line-height: 32px;
    text-align: center;
    border: 1px solid #2c92dd;
    border-radius: 4px;
    background: #f2f2f2;
    border: 1px solid #ccc;
    color: #999;
  }
  .kt-btn span {
    font-size: 16px;
    color: #fff;
  }
  .kted-btn span {
    color: #999;
    font-size: 16px;
  }
}

.nbook-author {
  margin: 20px 7px 20px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  li {
    -webkit-box-flex: 1;
    width: 100%;
    height: 33px;
    line-height: 33px;
    border: 1px solid #4595e6;
    border-radius: 2px;
    text-align: center;
    margin: 0 7px;
    a {
      display: block;
      color: #4595e6;
      font-size: 16px;
    }
  }
}

.bookmenu .bmenu-list {
  li {
    position: relative;
    padding: 14px;
    border-bottom: 1px solid #e6e6e6;
    height: 85px;
  }
  img {
    width: 85px;
    height: 85px;
    position: absolute;
    left: 14px;
    top: 15px;
  }
  .bmenu-detail {
    padding-left: 96px;
    position: relative;
  }
  li > a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .bmenu-detail {
    dt {
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dd {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
    }
    p {
      color: #999;
      line-height: 21px;
      font-size: 14px;
    }
  }
}

.m_flist {
  padding-bottom: 26px;
}

.boy_box .nbook-author {
  margin: 5px 0 15px;
}

.bm-banner {
  width: 100%;
  img {
    width: 100%;
  }
}

.kt-month {
  .bm-name {
    color: #333;
    font-size: 16px;
    line-height: 30px;
    padding-top: 3px;
  }
  .bm-tip {
    font-size: 14px;
    line-height: 23px;
  }
}

.menud-box {
  ul {
    border-top: 2px solid #4595e6;
  }
  li {
    border-top: 1px solid #e6e6e6;
    position: relative;
    a {
      height: 78px;
      display: block;
      padding: 14px;
    }
    img {
      width: 54px;
      height: 78px;
      position: absolute;
      top: 14px;
      left: 14px;
    }
  }
  .book-info {
    padding-left: 77px;
    dt {
      line-height: 16px;
      margin-bottom: 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    dd {
      font-size: 14px;
      color: #999;
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:last-child {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

.click_more {
  display: block;
  border-top: 1px solid #e6e6e6;
  padding: 20px 14px 18px;
  text-align: center;
  span {
    color: #366ab3;
    line-height: 16px;
  }
}

.mgroup {
  border-bottom: 1px solid #e6e6e6;
  li:first-child {
    border: 0;
  }
}

.tit-zt {
  font-size: 20px;
  padding: 6px 14px 0;
  height: 32px;
  line-height: 32px;
}

.rankad {
  margin-top: 15px;
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
}

.closeway {
  font-size: 14px;
  color: #0079ff;
}

.kt-month .closeway {
  display: block;
  text-align: center;
  line-height: 38px;
}

.kt_intro .closeway {
  margin-left: 10px;
  font-size: 16px;
}

.shelf_1 .get-new {
  background: 0;
  color: #fa944c;
  font-size: 14px;
}

.shelf_normal .shelf_1 {
  margin-bottom: 6px;
}

.noreadbox h2 {
  padding-left: 12px;
  color: #383838;
}

.scanmore {
  display: block;
  height: 38px;
  line-height: 38px;
  background: #4495e6;
  border-radius: 2px;
  color: #fff;
  text-align: center;
  margin: 44px 33px 0;
}

.edit .importbook {
  margin-left: 6px;
}

.noshelfbox {
  line-height: 18px;
  dt {
    color: #383838;
    text-align: center;
    padding: 49px 0 9px;
  }
  dd {
    color: #9b9b9b;
    padding: 0 33px;
    font-size: 14px;
  }
  padding-bottom: 40px;
}

.nologinbox {
  padding-bottom: 40px;
  p {
    padding: 72px 33px 0;
    text-align: center;
    color: #9b9b9b;
    font-size: 14px;
    line-height: 20px;
  }
}

.loadlayer {
  background: rgba(0, 0, 0, 0.7);
  margin: -5px 0 4px 0;
  padding: 10px 0;
  a {
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
  }
  img {
    width: 60px;
    height: 60px;
    display: block;
    padding: 0 10px 0 12px;
  }
  p {
    width: 232px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
  }
  span {
    width: 60px;
    height: 38px;
    line-height: 38px;
    background: #4495e6;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    margin: 0 12px 0 17px;
    font-size: 14px;
  }
}

.oldshelf {
  .com-item-list-details span {
    padding-top: 12px;
  }
  .shelf_admin {
    top: 38px;
    right: 14px;
    a {
      border: 1px solid #4595e6;
      width: 50px;
      height: 13px;
      line-height: 13px;
      text-align: center;
      color: #297acc;
      -webkit-border-radius: 2px;
    }
  }
  .noshelftip {
    text-align: center;
    padding-top: 75px;
  }
}

.shelfmask {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  text-align: center;
  display: none;
}

.toastmask {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  text-align: center;
  display: none;
  background: 0;
}

.shelfmask .maskarea {
  background: #fff;
  width: 225px;
  height: 85px;
  padding-top: 35px;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    color: #fff;
    background: #4495e6;
  }
}

.toastarea {
  width: 202px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  color: #fff;
  padding: 13px 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
}

.setApp {
  margin: 20px 15px;
  img {
    width: 100%;
  }
}