
.boy_box {
  padding: 0 14px 5px 14px;
  clear: both;
  .nbook-author {
    margin: 5px 0 15px;
  }
  .com-item-list {
    -webkit-box-sizing: border-box;
    display: -webkit-box;
    position: relative;
    padding-top: 5px;
    > ul > li {
      display: -webkit-box;
      -webkit-box-orient: horizontal;
      -webkit-box-pack: justify;
      -webkit-box-align: start;
      margin: 0;
      padding: 5px 0 5px 0;
      position: relative;
    }
    a {
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }
  .com-item-thumb {
    line-height: 1px;
    margin-top: 2px;
    float: left;
    position: relative;
    a {
      display: block;
    }
    b {
      position: absolute;
      display: block;
      width: 22px;
      height: 14px;
      line-height: 14px;
      text-align: center;
      top: 0;
      left: 0;
      font-weight: normal;
      color: #fff;
      font-size: 13px;
      -webkit-border-radius: 1px;
      padding-top: 2px;
    }
  }
  .com-item-list-desc em {
    float: right;
    margin: 0;
    font-size: 14px;
  }

  .com-item-list-details {
    padding: 0 0 0 94px;
    position: relative;
    display: block;
    p {
      color: #999;
      vertical-align: middle;
      line-height: 20px;
      font-size: 14px;
      &.tit_3 {
        color: #999;
        margin-top: 5px;
        span {
          display: inline;
          margin-right: 10px;
        }
      }
      &.tit_2 {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        line-height: 21px;
        margin-top: 5px;
      }
      &.tit_1 {
        color: #999;
        margin-top: 10px;
        span {
          display: inline;
          margin-right: 10px;
        }
      }
    }
    span {
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      b {
        float: right;
        color: #999;
        font-weight: normal;
        em {
          color: #333;
        }
      }
    }
  }
}



.list_ul {
  padding: 5px 0 10px 0;
  li {
    line-height: 24px;
    margin-top: 10px;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      float: left;
      a {
        color: #297acc;
      }
    }
    em {
      color: #ccc;
      padding: 0 8px 0 4px;
      float: left;
    }
    b {
      font-weight: normal;
      color: #999;
      margin-right: 10px;
      font-size: 12px;
      &.num_r {
        float: left;
        width: 22px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        background: #bf3048;
        color: #fff;
        margin-top: 6px;
        margin-right: 7px;
      }
      &.num_h {
        float: left;
        width: 22px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        background: #ccc;
        color: #fff;
        margin-top: 6px;
        margin-right: 7px;
      }
      &.free_icon {
        //background: url(../images/free.png) no-repeat;
        -webkit-background-size: 29px 13px;
        display: inline-block;
        width: 29px;
        height: 13px;
        margin-left: 3px;
        margin-right: 0;
      }
      &.z_name {
        font-size: 10px;
        margin: 0 0 0 10px;
      }
    }
    p {
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      &.nr_p_2 {
        font-size: 14px;
        color: #999;
        padding-left: 30px;
      }
      &.nr_p {
        font-size: 14px;
        color: #999;
      }
    }
  }
}


.list_a li {
  position: relative;
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}