<div id="selector-block-up" class="filter_sort sort_select">
  <select class="select" onchange="javascript:changePage(this, 172100)" id="sel-up" name="sel-up-6770">
    <option value="1" selected="">1-100章</option>
    <option value="2">101-200章</option>
    <option value="3">201-300章</option>
    <option value="4">301-400章</option>
    <option value="5">401-500章</option>
    <option value="6">501-600章</option>
    <option value="7">601-700章</option>
    <option value="8">701-800章</option>
    <option value="9">801-900章</option>
    <option value="10">901-1000章</option>
    <option value="11">1001-1100章</option>
    <option value="12">1101-1200章</option>
    <option value="13">1201-1300章</option>
    <option value="14">1301-1400章</option>
    <option value="15">1401-1500章</option>
    <option value="16">1501-1600章</option>
    <option value="17">1601-1700章</option>
    <option value="18">1701-1800章</option>
    <option value="19">1801-1900章</option>
    <option value="20">1901-2000章</option>
    <option value="21">2001-2100章</option>
    <option value="22">2101-2200章</option>
    <option value="23">2201-2300章</option>
    <option value="24">2301-2400章</option>
    <option value="25">2401-2500章</option>
    <option value="26">2501-2600章</option>
    <option value="27">2601-2700章</option>
    <option value="28">2701-2800章</option>
    <option value="29">2801-2900章</option>
    <option value="30">2901-3000章</option>
    <option value="31">3001-3100章</option>
    <option value="32">3101-3200章</option>
    <option value="33">3201-3300章</option>
    <option value="34">3301-3400章</option>
    <option value="35">3401-3500章</option>
    <option value="36">3501-3600章</option>
    <option value="37">3601-3685章</option>
  </select>
  <span class="xl_bg"></span>
</div>