<ul id="chapter-block" class="list_li">
  <li id="c1" class="act">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=1">第1章 一息若存，希望不灭</a></li>
  <li id="c2">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=2">第2章 神武血脉</a></li>
  <li id="c3">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=3">第3章 身体之谜</a></li>
  <li id="c4">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=4">第4章 唐明</a></li>
  <li id="c5">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=5">第5章 战书</a></li>
  <li id="c6">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=6">第6章 特训</a></li>
  <li id="c7">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=7">第7章 修炼</a></li>
  <li id="c8">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=8">第8章 千斤之力</a></li>
  <li id="c9">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=9">第9章 至阴寒潭</a></li>
  <li id="c10">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=10">第10章 炼体五阶</a></li>
  <li id="c11">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=11">第11章 演武场</a></li>
  <li id="c12">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=12">第12章 比试</a></li>
  <li id="c13">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=13">第13章 三拳之威（上）</a></li>
  <li id="c14">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=14">第14章 三拳之威（下）</a></li>
  <li id="c15">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=15">第15章 轰动</a></li>
  <li id="c16">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=16">第16章 结仇</a></li>
  <li id="c17">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=17">第17章 缺陷</a></li>
  <li id="c18">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=18">第18章 崩山拳</a></li>
  <li id="c19">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=19">第19章 风波不息</a></li>
  <li id="c20">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=20">第20章 炼体六阶</a></li>
  <li id="c21">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=21">第21章 族比开始</a></li>
  <li id="c22">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=22">第22章 第一战</a></li>
  <li id="c23">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=23">第23章 技惊四座（上）</a></li>
  <li id="c24">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=24">第24章 技惊四座（下）</a></li>
  <li id="c25">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=25">第25章 韩雨萱的实力</a></li>
  <li id="c26">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=26">第26章 惊险一刻</a></li>
  <li id="c27">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=27">第27章 绝地反击</a></li>
  <li id="c28">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=28">第28章 谁敢动他，我杀谁！</a></li>
  <li id="c29">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=29">第29章 若敢伤他，灭你全族</a></li>
  <li id="c30">
    <em class="freebg">免费</em>
    <a href="read.html?bid=172100&amp;cid=30">第30章 拉轰的老头</a></li>
  <li id="c31">
    <a href="read.html?bid=172100&amp;cid=31">第31章 东方牛豪</a></li>
  <li id="c32">
    <a href="read.html?bid=172100&amp;cid=32">第32章 离开韩家</a></li>
  <li id="c33">
    <a href="read.html?bid=172100&amp;cid=33">第33章 我甘心</a></li>
  <li id="c34">
    <a href="read.html?bid=172100&amp;cid=34">第34章 当初的少男少女</a></li>
  <li id="c35">
    <a href="read.html?bid=172100&amp;cid=35">第35章 你没资格</a></li>
  <li id="c36">
    <a href="read.html?bid=172100&amp;cid=36">第36章 宗派选拔（上）</a></li>
  <li id="c37">
    <a href="read.html?bid=172100&amp;cid=37">第37章 宗派选拔（下）</a></li>
  <li id="c38">
    <a href="read.html?bid=172100&amp;cid=38">第38章 选择</a></li>
  <li id="c39">
    <a href="read.html?bid=172100&amp;cid=39">第39章 劫杀</a></li>
  <li id="c40">
    <a href="read.html?bid=172100&amp;cid=40">第40章 逃</a></li>
  <li id="c41">
    <a href="read.html?bid=172100&amp;cid=41">第41章 突破</a></li>
  <li id="c42">
    <a href="read.html?bid=172100&amp;cid=42">第42章 我罩着你</a></li>
  <li id="c43">
    <a href="read.html?bid=172100&amp;cid=43">第43章 收获</a></li>
  <li id="c44">
    <a href="read.html?bid=172100&amp;cid=44">第44章 青光爆</a></li>
  <li id="c45">
    <a href="read.html?bid=172100&amp;cid=45">第45章 离别</a></li>
  <li id="c46">
    <a href="read.html?bid=172100&amp;cid=46">第46章 离开清风城</a></li>
  <li id="c47">
    <a href="read.html?bid=172100&amp;cid=47">第47章 星辰宗</a></li>
  <li id="c48">
    <a href="read.html?bid=172100&amp;cid=48">第48章 信息</a></li>
  <li id="c49">
    <a href="read.html?bid=172100&amp;cid=49">第49章 小手册</a></li>
  <li id="c50">
    <a href="read.html?bid=172100&amp;cid=50">第50章 猎杀开始</a></li>
  <li id="c51">
    <a href="read.html?bid=172100&amp;cid=51">第51章 积分</a></li>
  <li id="c52">
    <a href="read.html?bid=172100&amp;cid=52">第52章 遭遇</a></li>
  <li id="c53">
    <a href="read.html?bid=172100&amp;cid=53">第53章 三层青光爆</a></li>
  <li id="c54">
    <a href="read.html?bid=172100&amp;cid=54">第54章 最后三天</a></li>
  <li id="c55">
    <a href="read.html?bid=172100&amp;cid=55">第55章 掠夺战</a></li>
  <li id="c56">
    <a href="read.html?bid=172100&amp;cid=56">第56章 前一百</a></li>
  <li id="c57">
    <a href="read.html?bid=172100&amp;cid=57">第57章 人怕出名猪怕壮</a></li>
  <li id="c58">
    <a href="read.html?bid=172100&amp;cid=58">第58章 一波未平一波又起</a></li>
  <li id="c59">
    <a href="read.html?bid=172100&amp;cid=59">第59章 初遇真武者</a></li>
  <li id="c60">
    <a href="read.html?bid=172100&amp;cid=60">第60章 狼狈</a></li>
  <li id="c61">
    <a href="read.html?bid=172100&amp;cid=61">第61章 前九十！</a></li>
  <li id="c62">
    <a href="read.html?bid=172100&amp;cid=62">第62章 清灵草</a></li>
  <li id="c63">
    <a href="read.html?bid=172100&amp;cid=63">第63章 月底考核</a></li>
  <li id="c64">
    <a href="read.html?bid=172100&amp;cid=64">第64章 大长老</a></li>
  <li id="c65">
    <a href="read.html?bid=172100&amp;cid=65">第65章 内门</a></li>
  <li id="c66">
    <a href="read.html?bid=172100&amp;cid=66">第66章 第二层</a></li>
  <li id="c67">
    <a href="read.html?bid=172100&amp;cid=67">第67章 挑选武技</a></li>
  <li id="c68">
    <a href="read.html?bid=172100&amp;cid=68">第68章 叠浪掌</a></li>
  <li id="c69">
    <a href="read.html?bid=172100&amp;cid=69">第69章 金秋十月</a></li>
  <li id="c70">
    <a href="read.html?bid=172100&amp;cid=70">第70章 瀑布苦修</a></li>
  <li id="c71">
    <a href="read.html?bid=172100&amp;cid=71">第71章 恐怖能量</a></li>
  <li id="c72">
    <a href="read.html?bid=172100&amp;cid=72">第72章 三千巨力</a></li>
  <li id="c73">
    <a href="read.html?bid=172100&amp;cid=73">第73章 炼体九阶</a></li>
  <li id="c74">
    <a href="read.html?bid=172100&amp;cid=74">第74章 新星</a></li>
  <li id="c75">
    <a href="read.html?bid=172100&amp;cid=75">第75章 有人的地方就有江湖</a></li>
  <li id="c76">
    <a href="read.html?bid=172100&amp;cid=76">第76章 救援</a></li>
  <li id="c77">
    <a href="read.html?bid=172100&amp;cid=77">第77章 六层青光爆</a></li>
  <li id="c78">
    <a href="read.html?bid=172100&amp;cid=78">第78章 击杀</a></li>
  <li id="c79">
    <a href="read.html?bid=172100&amp;cid=79">第79章 石钟乳液</a></li>
  <li id="c80">
    <a href="read.html?bid=172100&amp;cid=80">第80章 九阶巅峰</a></li>
  <li id="c81">
    <a href="read.html?bid=172100&amp;cid=81">第81章 等待</a></li>
  <li id="c82">
    <a href="read.html?bid=172100&amp;cid=82">第82章 红袖</a></li>
  <li id="c83">
    <a href="read.html?bid=172100&amp;cid=83">第83章 再次见面</a></li>
  <li id="c84">
    <a href="read.html?bid=172100&amp;cid=84">第84章 化险为夷</a></li>
  <li id="c85">
    <a href="read.html?bid=172100&amp;cid=85">第85章 身份疑团</a></li>
  <li id="c86">
    <a href="read.html?bid=172100&amp;cid=86">第86章 战白尘</a></li>
  <li id="c87">
    <a href="read.html?bid=172100&amp;cid=87">第87章 告捷</a></li>
  <li id="c88">
    <a href="read.html?bid=172100&amp;cid=88">第88章 麻烦来了</a></li>
  <li id="c89">
    <a href="read.html?bid=172100&amp;cid=89">第89章 疯狂的日子</a></li>
  <li id="c90">
    <a href="read.html?bid=172100&amp;cid=90">第90章 大追杀！</a></li>
  <li id="c91">
    <a href="read.html?bid=172100&amp;cid=91">第91章 反扑</a></li>
  <li id="c92">
    <a href="read.html?bid=172100&amp;cid=92">第92章 再战孔杰</a></li>
  <li id="c93">
    <a href="read.html?bid=172100&amp;cid=93">第93章 风玄斩</a></li>
  <li id="c94">
    <a href="read.html?bid=172100&amp;cid=94">第94章 完胜</a></li>
  <li id="c95">
    <a href="read.html?bid=172100&amp;cid=95">第95章 再战！</a></li>
  <li id="c96">
    <a href="read.html?bid=172100&amp;cid=96">第96章 最后一击（上）</a></li>
  <li id="c97">
    <a href="read.html?bid=172100&amp;cid=97">第97章 最后一击（下）</a></li>
  <li id="c98">
    <a href="read.html?bid=172100&amp;cid=98">第98章 战将肖虎</a></li>
  <li id="c99">
    <a href="read.html?bid=172100&amp;cid=99">第99章 狂人雷鸣</a></li>
  <li id="c100">
    <a href="read.html?bid=172100&amp;cid=100">第100章 红袖出场</a></li>
</ul>