.book_list {
  display: -webkit-box;
  line-height: 1;
  margin: 0 14px;
  li {
    margin: 15px 0 0 0;
    position: relative;
    width: 100%;
    -webkit-box-flex: 1;
    text-align: left;
    &:last-child {
      margin-left: 15px;
    }
    a img {
      display: block;
      width: 100%;
    }
  }
}
