<div style="background-color:#fff;margin-top:80px;">
  <a href="javascript:;" class="da_img" style="height: 124px;">
    <img src="http://wfqqreader.3g.qq.com/cover/topic/119201207_69919749_1493866231788.jpg">
    <span class="page_d">
      <em>3/3</em>
      <b>都市极品仙帝</b>
    </span>
  </a>
  <div class="hot">
    <a href="javascript:;" class="hot_li">我家农场有条龙</a>
    <ul class="list_ul list_ul_top">
      <li>
        <span>
          <a href="javascript:;">男生</a></span>
        <em>|</em>
        <a id="maleSwitch" href="intro.html?bid=13562877&amp;b_f=815001" class="hot_a">超凡透视眼</a></li>
      <li>
        <span>
          <a href="findex.html?b_f=012006">女生</a></span>
        <em>|</em>
        <a id="fmaleSwitch" href="intro.html?bid=15015759&amp;b_f=814001" class="hot_a">1号新妻：老公，宠上瘾！</a></li>
      <li>
        <span>
          <a href="pindex.html?b_f=013006">出版</a></span>
        <em>|</em>
        <a id="pubSwitch" href="intro.html?bid=335029&amp;b_f=816001" class="hot_a">明争暗斗师祖：后宫如懿传</a></li>
    </ul>
  </div>
</div>