.tab_2 {
  position: absolute;
  top: 47px;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid #525656;
  border-top: 2px solid #fff;
  background: rgba(0, 0, 0, 0.85);
  padding: 12px 0;
  display: block;
  div {
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    a {
      -webkit-box-flex: 1;
      text-align: center;
      display: block;
      height: 48px;
      &.icon-5, &.icon-6, &.icon-7 {
        background: url(../images/reader_icon.png) no-repeat;
        -webkit-background-size: 36px 727px;
      }
      &.icon-5 {
        background-position: center -114px;
      }
      &.icon-6 {
        background-position: center -172px;
      }
      &.icon-7 {
        background-position: center -234px;
      }
    }
  }
}